<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>kube-applier</title>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center">kube-applier</h1>
    {{ if .LastRun.Finished }}
    <div class="row">
        <div class="text-center">
            <div class="force-button-group btn-group">
                <button id="force-full-button" class="force-button btn btn-warning btn-s"><strong>Force full apply run</strong></button>
                {{ if .Failures }}<button id="force-failed-button" class="force-button btn btn-warning btn-s"><strong>Force failed-only run</strong></button>{{ end }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div id="force-alert-container" class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default {{ if .Failures }}panel-danger{{ else }}panel-success{{ end }}">
                <div class="panel-heading">
                    <h3 class="panel-title">Last Run</h3>
                </div>
                <div class="panel-body">
                    <strong>Root path: </strong>{{ .RootPath }}<br>
                    <strong>Type: </strong>{{ .LastRun.Type.String }}<br>
                    <strong>Started: </strong>{{ .LastRun.FormattedStart }}<br>
                    <strong>Finished: </strong>{{ .LastRun.FormattedFinish }}<br>
                    <strong>Latency: </strong>{{ .LastRun.Latency }}<br>
                    <strong>Last Commit: </strong>{{ if .LastRun.LastCommitLink }}<a href="{{ .LastRun.LastCommitLink }}">{{ .LastRun.CommitHash }}</a>{{ end }}
                    <p><pre class="commit">{{ .LastRun.FullCommit }}</pre></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel panel-default {{ if .Failures }}panel-danger{{ else }}panel-success{{ end }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#failures">Errors: {{ len .Failures }}</a>
                        </h4>
                    </div>
                    <div id="failures" class="panel-group collapse {{ if .Failures }}in{{ end }}">
                        {{ range $i, $file := .Failures }}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#failure-{{$i}}">{{ $file.Application.Spec.RepositoryPath }}</a>
                                </div>
                            </div>
                            <div id="failure-{{$i}}" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Applied by: </strong>{{ $file.Run.Type.String }} (started at {{ $file.Run.FormattedStart }})<br/>
                                                <strong>Commit: </strong> {{ if $file.Run.LastCommitLink }}<a href="{{ $file.Run.LastCommitLink }}">{{ $file.Run.CommitHash }}</a>{{ end }}<br/>
                                                <strong>Finished: </strong>{{ $file.FormattedFinish }} (took {{ $file.Latency }})
                                            </div>
                                            <div class="col-md-2"><button data-path="{{ $file.Application.Spec.RepositoryPath }}" class="force-button force-namespace-button btn btn-warning btn-s"><strong>Force apply run</strong></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <pre class="file-output">{{ printf "$ %s\n" $file.Command }}{{ $file.Output }}{{ $file.ErrorMessage }}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel panel-default {{ if .Failures }}panel-warning{{ else }}panel-success{{ end }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#successes">Applied Files: {{ len .Successes }} / {{ .TotalFiles }}</a>
                        </h4>
                    </div>
                    <div id="successes" class="panel-group collapse in">
                        {{ range $i, $file := .Successes }}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#success-{{$i}}">{{ $file.Application.Spec.RepositoryPath }}</a>
                                </div>
                            </div>
                            <div id="success-{{$i}}" class="panel-collapse collapse {{ if $.LastRun.Equal $file.Run }}in{{ end }}">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Applied by: </strong>{{ $file.Run.Type.String }} (started at {{ $file.Run.FormattedStart }})<br/>
                                                <strong>Commit: </strong> {{ if $file.Run.LastCommitLink }}<a href="{{ $file.Run.LastCommitLink }}">{{ $file.Run.CommitHash }}</a>{{ end }}<br/>
                                                <strong>Finished: </strong>{{ $file.FormattedFinish }} (took {{ $file.Latency }})
                                            </div>
                                            <div class="col-md-2"><button data-path="{{ $file.Application.Spec.RepositoryPath }}" class="force-button force-namespace-button btn btn-warning btn-s"><strong>Force apply</strong></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <pre class="file-output">{{ printf "$ %s\n" $file.Command }}{{ $file.Output }}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <h3 class="text-center">Waiting for information about the first apply run...</h3>
    <h4 class="text-center">Refresh for updates and check the status and logs for the kube-applier container to make sure it is running properly.</h4>
    {{ end }}
</body>
</html>
