<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>kube-applier</title>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center">kube-applier</h1>
    {{ if .Finished }}
    <div class="row">
        <div class="col-md-4"></div>
        <div id="force-alert-container" class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel panel-default {{ if .Failures }}panel-danger{{ else }}panel-success{{ end }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#failures">Errors: {{ len .Failures }}</a>
                        </h4>
                    </div>
                    <div id="failures" class="panel-group collapse {{ if .Failures }}in{{ end }}">
                        {{ range $i, $file := .Failures }}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#failure-{{$i}}">{{ $file.Spec.RepositoryPath }}</a>
                                </div>
                            </div>
                            <div id="failure-{{$i}}" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Type: </strong>{{ $file.Status.LastRun.Type }}<br/>
                                                <strong>Commit: </strong> {{ if $.CommitLink $file.Status.LastRun.Commit }}<a href="{{ $.CommitLink $file.Status.LastRun.Commit }}">{{ $file.Status.LastRun.Commit }}</a>{{ end }}<br/>
                                                <strong>Started: </strong>{{ $.FormattedTime $file.Status.LastRun.Started }} (took {{ $.Latency $file.Status.LastRun.Started $file.Status.LastRun.Finished }})
                                            </div>
                                            <div class="col-md-2"><button data-namespace="{{ $file.Namespace }}" class="force-button force-namespace-button btn btn-warning btn-s"><strong>Force apply run</strong></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <pre class="file-output">{{ printf "$ %s\n" $file.Status.LastRun.Command }}{{ $file.Status.LastRun.Output }}{{ $file.Status.LastRun.ErrorMessage }}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-group">
                <div class="panel panel-default {{ if .Failures }}panel-warning{{ else }}panel-success{{ end }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#successes">Applied Files: {{ len .Successes }} / {{ len .Applications }}</a>
                        </h4>
                    </div>
                    <div id="successes" class="panel-group collapse in">
                        {{ range $i, $file := .Successes }}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#success-{{$i}}">{{ $file.Spec.RepositoryPath }}</a>
                                </div>
                            </div>
                            <div id="success-{{$i}}" class="panel-collapse collapse {{ if $.AppliedRecently $file }}in{{ end }}">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Type: </strong>{{ $file.Status.LastRun.Type }}<br/>
                                                <strong>Commit: </strong> {{ if $.CommitLink $file.Status.LastRun.Commit }}<a href="{{ $.CommitLink $file.Status.LastRun.Commit }}">{{ $file.Status.LastRun.Commit }}</a>{{ end }}<br/>
                                                <strong>Started: </strong>{{ $.FormattedTime $file.Status.LastRun.Started }} (took {{ $.Latency $file.Status.LastRun.Started $file.Status.LastRun.Finished }})
                                            </div>
                                            <div class="col-md-2"><button data-namespace="{{ $file.Namespace }}" class="force-button force-namespace-button btn btn-warning btn-s"><strong>Force apply</strong></button></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <pre class="file-output">{{ printf "$ %s\n" $file.Status.LastRun.Command }}{{ $file.Status.LastRun.Output }}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <h3 class="text-center">Waiting for information to be collected...</h3>
    <h4 class="text-center">Refresh for updates and check the status and logs for the kube-applier container to make sure it is running properly.</h4>
    {{ end }}
</body>
</html>
